@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --special-color: #ff9900;
  background-color: rgb(242, 246, 247);
}

body {
  box-sizing: border-box;
  width: 99vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: full;
  height: auto;
  padding: 20px;
}
p {
  line-height: 1.6;
}
.primary-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
}
.secondary-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
}

.logo {
  width: 110px;
  height: auto;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  background: rgb(236, 238, 247);
  border-radius: 5px;
  margin: 10px auto;
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.2);
}

.hero {
  width: 100%;
  padding-top: 10px;
  display: flex;
  align-items: self-end;
  justify-content: baseline;
  flex-wrap: wrap;
}

.bottom-text {
  justify-content: flex-end;
}

.special-color {
  color: #ff9900;
}

.horizontal-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.vertical-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}
.vertical-menu a {
  display: block;
  padding: 5px 5px;
  background-color: #f4f4f4;
  color: var(--special-color);
  text-decoration: none;
  border-radius: 4px;
}

.vertical-menu a:hover {
  background-color: #262424;
}
.horizontal-menu li {
  padding: 10px 10px;
}

.vertical-menu li {
  padding: 3px 3px;
  max-width: 200px;
}

.horizontal-menu a {
  color: rgb(11, 13, 34);
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
}

.horizontal-menu a:hover {
  color: var(--special-color);
}

.banner {
  margin: 10px auto;
  display: grid;
  max-width: 90%;
  grid-template-columns: 1fr 1fr;
  justify-items: flex-end;
  align-items: center;
  gap: 40px;
}

.banner-image {
  width: 40vw;
  display: inline-block;
}

.plants {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.flag-card {
  background-color: aliceblue;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s cubic-bezier(0.4,0,0.2,1), box-shadow 0.2s cubic-bezier(0.4,0,0.2,1);
}

.flag-card:hover {
  transform: translateY(-10px) scale(1.04);
  box-shadow:
    0 8px 16px rgba(0, 0, 0, 0.18),
    0 12px 32px rgba(0, 0, 0, 0.18);
}
.flag-card img {
  width: 290px;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

button {
  display: inline-block;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  background-color: var(--special-color);
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #008cba;
}

.news-letter-container {
  position: relative;
  width: 100%;
  height: 600px;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.news-letter-container::before {
  content: "";
  background-image: url("../assets/news-letter-bg.png");
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: -1;
}

footer {
  width: 99%;
  bottom: 0;
  z-index: 999;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: rgb(236, 238, 247);
  padding: 40px;
  gap: 20px;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

/* for smaller screen */
@media screen and (max-width: 768px) {
  body {
    width: 90%;
    margin: 0 auto;
    padding: auto;
  }
  .horizontal-menu li {
    padding: 5px 5px;
  }

  .banner {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-items: baseline;
    align-items: flex-start;
  }
  .banner-image {
    width: 90vw;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    padding: 5px;
  }

  .email-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  footer {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 10px;
  }
}
